* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
a {
  text-decoration: none;
}
:root {
  --color-8797a7: #8797a7;
  --color-998d99: #998d99;
  --color-ff8af9cb: #ff8af9cb;
  --color-2a0300cb: #2a0300cb;
}

.button {
  outline: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  padding: 8px 20px;
  background: transparent;
  border: 2px solid rgba(102, 134, 93, 0.277);
  background: -webkit-linear-gradient(180deg, #ffac00, #f2fe00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  border: 2px solid rgba(102, 134, 93, 0.425);
  background: -webkit-linear-gradient(180deg, #f2fe00, #ffac00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button2 {
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 8px;
  padding: 8px 20px;
  background: rgba(255, 92, 247, 0.814);
  border: 2px solid transparent;
}
.button2:hover {
  background: transparent;
  border: 2px solid rgba(255, 92, 247, 0.814);
  background: -webkit-linear-gradient(180deg, #ca0ef9, #ff00d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pink {
  color: rgba(255, 92, 247, 0.814);
}
.colored-line span {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: linear-gradient(45deg, rgb(255, 129, 56), rgb(255, 241, 117));
  border-radius: 100%;
}

/* TOP SECTION */
/*  */
#top-section {
  height: 600px;
  width: 100%;
  background: url(images/hero-bg-4.jpg) no-repeat;
  background-size: cover;
}
/* Navbar */
.Navbar a {
  margin-bottom: 0;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.Navbar h5 {
  margin-bottom: 0;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
/* Hero */
.hero-wrapper {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-wrapper .hero-heading {
  font-size: 52px;
  color: rgb(226, 226, 226);
}
.hero-wrapper .hero-description {
  font-size: 16px;
  font-weight: 400;
  color: rgb(137, 137, 137);
}
/* TOP SECTION ENDS HERE  */
/* DETAILS */
.home-wrapper-2 {
  background-color: #f0f0f0;
}
.home-wrapper-2 h5 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-998d99);
}
.home-wrapper-2 i {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-ff8af9cb);
}
/* DETAILS ENDS HERE */
/* REGISTER */
.register-wrapper h5 {
  font-size: 42px;
  font-weight: bolder;
  color: var(--color-2a0300cb);
}
.register-wrapper p {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-2a0300cb);
}
.register-wrapper h1 {
  font-size: 52px;
  line-height: 68px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-2a0300cb);
}
.register-wrapper h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 30px 0px;
  color: var(--color-2a0300cb);
}
.register-wrapper h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-2a0300cb);
}
.register-wrapper i {
  font-size: 24px;
  line-height: 32px;
  color: var(--color-ff8af9cb);
}
/* REGISTER ENDS HERE */
